@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@implements IDisposable
@inject NavigationManager NavManager
<!-- Simplified Fluent UI Navigation Menu -->
<div class="fluent-nav-header">
    <div class="fluent-nav-brand">
        <div class="fluent-nav-logo">
            <svg width="28" height="28" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                <path d="M8 0C5.829 0 4.067 1.64 4.067 3.667c0 .26.022.516.064.767C1.747 5.078 0 7.06 0 9.444 0 12.206 2.24 14.444 5 14.444h6c2.761 0 5-2.238 5-5s-2.239-5-5-5c-.423 0-.833.053-1.221.152C9.315 2.11 8.707 0 8 0zM5 6.5a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3zm6 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3z"/>
            </svg>
        </div>
        <h1 class="fluent-nav-title">CrossTenantChat</h1>
    </div>
    
    <button class="fluent-nav-toggle" type="button" aria-label="Toggle navigation menu" title="Navigation menu" aria-controls="mainMenu" aria-expanded="@_isMenuOpen" @onclick="ToggleMenu">
        <span class="fluent-nav-toggle-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </button>
</div>

<nav id="mainMenu" class="@MenuCss" role="navigation">
    <div class="fluent-nav-section">        
        <div class="fluent-nav-item">
            <NavLink class="fluent-nav-link" href="" Match="NavLinkMatch.All">
                <span class="fluent-nav-icon">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
                    </svg>
                </span>
                <span class="fluent-nav-text">Home</span>
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView>
            <NotAuthorized>
                <div class="fluent-nav-item">
                    <a class="fluent-nav-link" href="/login">
                        <span class="fluent-nav-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </span>
                        <span class="fluent-nav-text">Sign In</span>
                    </a>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="fluent-nav-item">
                    <a class="fluent-nav-link" href="/logout?returnUrl=/">
                        <span class="fluent-nav-icon">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                            </svg>
                        </span>
                        <span class="fluent-nav-text">Sign Out</span>
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private bool _isMenuOpen;

    private string MenuCss => $"fluent-nav-menu{(_isMenuOpen ? " show" : string.Empty)}";

    private void ToggleMenu()
    {
        _isMenuOpen = !_isMenuOpen;
    }

    protected override void OnInitialized()
    {
        // Close the menu when navigation occurs (useful on small screens)
        NavManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        if (_isMenuOpen)
        {
            _isMenuOpen = false;
            InvokeAsync(StateHasChanged);
        }
    }

    public void Dispose()
    {
        NavManager.LocationChanged -= OnLocationChanged;
    }
}

