<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CrossTenantChat</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-chat-dots-fill" aria-hidden="true"></span> Cross-Tenant Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fluent-demo">
                <span class="bi bi-palette-fill" aria-hidden="true"></span> Fluent UI Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <a class="nav-link" href="/logout">
                <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
            </a>
        </div>
    </nav>
</div>

